<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="./styles/application.css">
    <!-- endbuild -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- app -->
    <script src="scripts/app.js"></script>

    <!-- configs -->
    <script src="scripts/configs/app-config.js"></script>

    <!-- models -->
    <script src="scripts/models/stock-state-model.js"></script>
    <script src="scripts/models/playing-state-model.js"></script>
    <script src="scripts/models/i-resource-model.js"></script>
    <script src="scripts/models/search-condition-model.js"></script>
    <script src="scripts/models/image-model.js"></script>
    <script src="scripts/models/resource-response-model.js"></script>
    <script src="scripts/models/resource-manager-model.js"></script>

    <!-- services -->
    <script src="scripts/services/image-comparer-service.js"></script>
    <script src="scripts/services/search-query-creator-service.js"></script>
    <script src="scripts/services/search-service.js"></script>
    <script src="scripts/services/logger-service.js"></script>

    <!-- filters -->
    <script src="scripts/filters/display-width-filter.js"></script>

    <!-- directives -->
    <script src="scripts/directives/downloaded-directive.js"></script>
    <script src="scripts/directives/loader-directive.js"></script>
    <script src="scripts/directives/function-container-directive.js"></script>
    <script src="scripts/directives/information-board-directive.js"></script>
    <script src="scripts/directives/play-button-directive.js"></script>
    <script src="scripts/directives/pause-button-directive.js"></script>

    <!-- controllers -->
    <script src="scripts/controllers/search-controller.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="NightWalker.Controllers">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="container" ng-controller="SearchController as c">
        <p class="title">Night Walker</p>
        <div class="search-area">
            <input type="text" class="target-url-text-box" placeholder="http://example.com/" ng-model="storageAddress" />
            <img class="search-lens" src="images/search.png" ng-click="c.search()" />
        </div>
        <div class="thumbnail-container">
            <div class="thumbnail-item" ng-repeat="image in resourceManager.resources" style="width: {{image | displayWidth}}" downloaded>
                <a href="{{image.url}}" download="{{image.url}}">
                    <img class="thumbnail" src="{{image.url}}" />
                    <div class="thumbnail-info">
                        {{image.width}} x {{image.height}}
                    </div>
                </a>
            </div>
        </div>
        <div class="function-container" function-container>
            <div class="button-container">
                <div class="button button-selected" play-button>
                    <img class="button-icon" src="/images/play_p.png" />
                </div>
                <div class="button" pause-button>
                    <img class="button-icon" src="/images/stop_p.png" />
                </div>
            </div>
            <div class="information-board" information-board></div>
        </div>
    </div>
</body>
</html>
