<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="./styles/application.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- app -->
    <script src="scripts/app.js"></script>

    <!-- models -->
    <script src="scripts/models/search-condition-model.js"></script>

    <!-- services -->
    <script src="scripts/services/search-query-creator-service.js"></script>

    <!-- directives -->

    <!-- controllers -->
    <script src="scripts/controllers/search-controller.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="NightWalker.Controllers">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="container" ng-controller="SearchController as c">
        <p class="title">Night Walker</p>
        <div class="search-area">
            <input type="text" class="target-url-text-box" placeholder="http://example.com/" ng-model="searchUrl" />
            <img class="search-lens" src="images/search.png" ng-click="c.search()" />
        </div>
        <div class="thumbnail-container">
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="thumbnail-item">
                <img class="thumbnail" src="/images/sample.jpg" />
                <div class="thumbnail-download-confirm">Download</div>
            </div>
            <div class="button and-more">And More ...</div>
        </div>
    </div>
</body>
</html>
